@charset "UTF-8";
› * {
  outline: 1px solid red !important;
}

html {
  font-size: 14px;
  font-weight: 500;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Noto Serif JP", serif;
  color: #222222;
}

.sp-none {
  display: none;
}
@media screen and (min-width: 768px) {
  .sp-none {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .pc-none {
    display: none;
  }
}

.hamburger {
  width: 60px;
  height: 60px;
}

.header__title {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding-top: 21px;
}
@media screen and (min-width: 1280px) {
  .header__title {
    padding-top: 84px;
  }
}
.header__title h1 {
  font-family: "Amatic SC", sans-serif;
  font-size: 32px;
  letter-spacing: 6.4px;
  line-height: 130%;
}
@media screen and (min-width: 1280px) {
  .header__title h1 {
    font-size: 72px;
    letter-spacing: 14.4px;
  }
}
.header__title p {
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
  letter-spacing: 0.96px;
}
@media screen and (min-width: 1280px) {
  .header__title p {
    font-size: clamp(16px, 1.25vw, 18px);
    letter-spacing: 1.28px;
  }
}

.section {
  padding-inline: 20px;
}
@media screen and (min-width: 1024px) {
  .section {
    padding-inline: 0;
    width: 100%;
  }
}

.bg {
  background-color: #eae0d5;
}

.button1 {
  width: 290px;
  height: 72px;
  margin-top: 40px;
  background-color: #222222;
  margin-inline: auto;
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.button1::after {
  content: "";
  position: absolute;
  width: 289px;
  height: 72px;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
  top: 6px;
  left: 6px;
  display: inline-block;
  z-index: 0;
}
.button1:hover {
  opacity: 0.8;
}
.button1:active {
  transform: translate(5px, 6px);
}
.button1:active::after {
  display: none;
}
.button1 .btn1 {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  z-index: 5;
}
.button1 .btn1::after {
  content: "";
  width: 16px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  background-image: url(../img/arrow.png);
  color: #ffffff;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.tab-button {
  width: 100%;
  aspect-ratio: 161/64;
  background-color: #888;
  color: #ffffff;
  padding: 4px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .tab-button {
    aspect-ratio: 200/69;
  }
}
.tab-button::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 1px solid #ffffff;
}
.tab-button:hover {
  opacity: 0.8;
}
.tab-button .btn-text {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 700;
  line-height: 19px;
}
.tab-button.btn-active {
  background-color: #382620;
}

.button2 {
  width: 140px;
  height: 29px;
  padding: 5.44px 16px 6.56px 15px;
  margin-top: 12px;
  background-color: #222222;
  margin-inline: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button2 .btn2 {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}

.gift-btn {
  width: 140px;
  height: 29px;
  padding: 5.44px 16px 6.56px 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  font-size: 16px;
  font-weight: 700;
}
.gift-btn .btn-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}

.body__inner .hero__nav,
.body__inner .hero__nav.is_sub {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 767px;
  background-color: #382620;
  padding-top: 130px;
  padding-bottom: 50px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.3s;
  color: #ffffff;
}
.body__inner .hero__nav.is-checked,
.body__inner .hero__nav.is_sub.is-checked {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .body__inner .hero__nav,
  .body__inner .hero__nav.is_sub {
    max-width: 375px;
    height: 800px;
    z-index: 9999;
  }
}
.body__inner .hero__nav .nav__logo,
.body__inner .hero__nav.is_sub .nav__logo {
  width: 128px;
  height: 64px;
  position: absolute;
  top: 10px;
  left: 14px;
}
.body__inner .hero__nav .nav__logo img,
.body__inner .hero__nav.is_sub .nav__logo img {
  width: 100%;
}
.body__inner .hero__nav .nav__close,
.body__inner .hero__nav.is_sub .nav__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
}
.body__inner .hero__nav .nav__close img,
.body__inner .hero__nav.is_sub .nav__close img {
  width: 100%;
}
.body__inner .hero__nav .nav__close:hover,
.body__inner .hero__nav.is_sub .nav__close:hover {
  cursor: pointer;
  opacity: 0.8;
}
.body__inner .hero__nav .nav__lists,
.body__inner .hero__nav.is_sub .nav__lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 52px;
  gap: 32px;
}
.body__inner .hero__nav .nav__lists .nav__list,
.body__inner .hero__nav.is_sub .nav__lists .nav__list {
  padding-left: 40px;
}
.body__inner .hero__nav .nav__lists .nav__list .nav__link,
.body__inner .hero__nav.is_sub .nav__lists .nav__list .nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.body__inner .hero__nav .nav__lists .nav__list .nav__link .en,
.body__inner .hero__nav.is_sub .nav__lists .nav__list .nav__link .en {
  color: #fff;
  font-family: "Patua One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.88px;
  margin-right: 11px;
}
.body__inner .hero__nav .nav__lists .nav__list .nav__link .slash,
.body__inner .hero__nav.is_sub .nav__lists .nav__list .nav__link .slash {
  color: #ffffff;
  font-family: "Noto Serif JP";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.body__inner .hero__nav .nav__lists .nav__list .nav__link .ja,
.body__inner .hero__nav.is_sub .nav__lists .nav__list .nav__link .ja {
  color: #ffffff;
  font-family: "Noto Serif JP";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
}
.body__inner .hero__nav .sns-icons,
.body__inner .hero__nav.is_sub .sns-icons {
  display: flex;
  width: 184px;
  height: 40px;
  margin: 0 auto;
  justify-content: space-between;
}
.body__inner .hero__nav .sns-icons .sns-icon,
.body__inner .hero__nav.is_sub .sns-icons .sns-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.body__inner .hero__nav .sns-icons .sns-icon .fa-twitter,
.body__inner .hero__nav .sns-icons .sns-icon .fa-youtube,
.body__inner .hero__nav .sns-icons .sns-icon .fa-instagram,
.body__inner .hero__nav.is_sub .sns-icons .sns-icon .fa-twitter,
.body__inner .hero__nav.is_sub .sns-icons .sns-icon .fa-youtube,
.body__inner .hero__nav.is_sub .sns-icons .sns-icon .fa-instagram {
  color: #ffffff;
  font-size: 32px;
}

.section__title {
  display: flex;
  flex-direction: column;
  color: #222222;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section__title {
    gap: 0px;
  }
}
.section__title h2 {
  font-family: "Amatic SC";
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  .section__title h2 {
    font-size: 52px;
    letter-spacing: 10.4px;
  }
}
.section__title p {
  font-family: "Noto Serif JP";
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .section__title p {
    font-size: 14px;
  }
}

.access {
  background-color: #eae0d5;
  padding-top: 80px;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .access {
    padding-top: 80px;
  }
}
.access .access__inner {
  max-width: 688px;
  margin: 0 auto;
}
.access .access__inner .section__title {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .access .access__inner .section__title {
    font-size: 14px;
  }
}
.access .access__inner .access__contents {
  padding-top: 38px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .access .access__inner .access__contents {
    width: 688px;
    margin: 0 auto;
  }
}
.access .access__inner .access__contents .access__map {
  aspect-ratio: 335/188;
  background: #ffffff;
  margin: 0 auto;
  margin-bottom: 39px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .access .access__inner .access__contents .access__map {
    aspect-ratio: 688/377;
    margin-bottom: 45px;
  }
}
.access .access__inner .access__contents .access__map .access__map-content {
  aspect-ratio: 335/188;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .access .access__inner .access__contents .access__map .access__map-content {
    aspect-ratio: 688/377;
  }
}
.access .access__inner .access__contents .access__map .access__map-content iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  border: 0;
}
.access .access__inner .access__contents .access__map .access__pin {
  position: absolute;
  aspect-ratio: 17/29;
  width: 17px;
  top: 67.68px;
  left: 158.74px;
}
.access .access__inner .access__contents .access__map .access__pin img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .access .access__inner .access__contents .access__map .access__pin {
    aspect-ratio: 35/60;
    width: 35px;
    top: 139px;
    left: 326px;
  }
}
.access .access__inner .access__contents .business-info__inner {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .access .access__inner .access__contents .business-info__inner {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    gap: 20px 40px;
  }
}
.access .access__inner .access__contents .business-info__inner .info__list {
  display: flex;
  gap: 6.4vw;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .access .access__inner .access__contents .business-info__inner .info__list {
    gap: 1.875vw;
  }
}
.access .access__inner .access__contents .business-info__inner .info__list .info__details {
  min-width: 56px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .access .access__inner .access__contents .business-info__inner .info__list .info__details {
    line-height: 150%;
  }
}
.access .access__inner .access__contents .business-info__inner .info__list .info__meta {
  line-height: 21px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .access .access__inner .access__contents .business-info__inner .info__list .info__meta {
    line-height: 150%;
  }
}
.access .access-dec {
  position: absolute;
  width: 153.75px;
  height: 178px;
  top: -98px;
  right: 0;
}
.access .access-dec img {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .access .access-dec {
    width: 298px;
    height: 359px;
  }
}
.access .access-bubble {
  width: 200px;
  height: 172px;
  position: absolute;
  top: -45px;
  left: -30px;
}
.access .access-bubble img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .access .access-bubble {
    left: calc(50% - 305px);
  }
}
@media screen and (min-width: 1024px) {
  .access .access-bubble {
    width: 18.196vw;
    height: 15.625vw;
    top: -50.12px;
    left: min(26.25vw, 378px);
  }
}
@media screen and (min-width: 1280px) {
  .access .access-bubble {
    width: 232px;
    height: 200px;
    top: -50.12px;
    left: 336px;
  }
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1280px) {
  .header.top {
    height: auto;
  }
}

.header {
  position: relative;
  padding: 6px;
  width: 100%;
  height: 120px;
}
@media screen and (min-width: 1280px) {
  .header {
    width: 100%;
    height: 320px;
    padding: 10px;
  }
}
.header.header-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.header .header-border {
  border: 2px solid #ffffff;
  width: 100%;
  height: 100%;
  padding: 3px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .header .header-border {
    padding: 4px;
  }
}
.header .header-border .header-border__inner {
  border: 1px solid #ffffff;
  width: 100%;
  height: 100%;
}
.header .hamburger {
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 99999;
  right: 10px;
  top: 10px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.header .hamburger.is-show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.header.concept {
  z-index: 20;
  background: url("../img/concept/concept-top.jpg") no-repeat center center/cover;
}
.header.menu-top {
  z-index: 20;
  background: url("../img/menu/menu-top.jpg") no-repeat center center/cover;
}
.header.news-top {
  z-index: 20;
  background: url("../img/news/news-top.jpg") no-repeat center center/cover;
}
.header.shop-top {
  z-index: 20;
  background: url("../img/shop/shop-top.jpg") no-repeat center center/cover;
}
.header.gift-top {
  z-index: 20;
  background: url("../img/gift/gift-top.jpg") no-repeat center center/cover;
}
.header.contact-top {
  z-index: 20;
  background: url("../img/contact/contact-top.jpg") no-repeat center center/cover;
}
.header.thanks-top {
  z-index: 20;
  background: url("../img/contact/contact-top.jpg") no-repeat center center/cover;
}
.header.concept {
  width: 100%;
  margin: 0;
  max-width: 100%;
  z-index: 20;
  background: url("../img/concept/concept-top.jpg") no-repeat center center/cover;
}

.nav__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
}
.nav__close img {
  width: 100%;
}
.nav__close:hover {
  cursor: pointer;
  opacity: 0.8;
}

.breadcrumbs {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  padding-top: 4px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .breadcrumbs {
    padding-left: 90px;
    padding-top: 16px;
    gap: 15px;
  }
}
.breadcrumbs .breadcrumbs_inner {
  display: flex;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .breadcrumbs .breadcrumbs_inner {
    gap: 15px;
  }
}
.breadcrumbs span {
  color: #382620;
  font-family: "Noto Serif JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .breadcrumbs span {
    font-size: 14px;
  }
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#mask.hidden {
  display: none;
}

footer {
  background-color: #382620;
  height: 147px;
  position: relative;
  z-index: 50;
}
@media screen and (min-width: 768px) {
  footer {
    height: 141px;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    margin: 0 auto;
  }
}
footer .footer-inner {
  padding-top: 40px;
  position: relative;
}
@media screen and (min-width: 768px) {
  footer .footer-inner {
    max-width: 1440px;
    margin: 0 auto;
  }
}
footer .footer-inner .sns-icons {
  display: flex;
  width: 120px;
  height: 24px;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  footer .footer-inner .sns-icons {
    width: 120px;
    height: 24px;
  }
}
footer .footer-inner .sns-icons .sns-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  footer .footer-inner .sns-icons .sns-icon {
    width: 24px;
    height: 24px;
  }
}
footer .footer-inner .sns-icons .sns-icon .fa-twitter::before,
footer .footer-inner .sns-icons .sns-icon .fa-youtube::before,
footer .footer-inner .sns-icons .sns-icon .fa-instagram::before {
  color: #ffffff;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  footer .footer-inner .sns-icons .sns-icon .fa-twitter::before,
  footer .footer-inner .sns-icons .sns-icon .fa-youtube::before,
  footer .footer-inner .sns-icons .sns-icon .fa-instagram::before {
    font-size: 24px;
  }
}
footer .footer-inner .footer-copy {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 14px;
}
footer .footer-inner .footer-copy small {
  font-size: 12px;
}
footer .footer-inner .to-top {
  display: none;
  position: fixed;
  width: 44px;
  height: 44px;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  footer .footer-inner .to-top {
    bottom: 20px;
    right: 20px;
  }
}
footer .footer-inner .to-top img {
  width: 100%;
  height: 100%;
}
footer .footer-inner:hover {
  opacity: 0.8;
}
footer .footer-beans {
  width: 92px;
  position: absolute;
  bottom: 93px;
  left: 0;
  clip-path: inset(-100vmax -100vmax 0 -100vmax);
}
footer .footer-beans img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  footer .footer-beans {
    width: auto;
    max-width: 150px;
    bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer-beans {
    width: 20vw;
    height: 22.5vw;
    max-width: 288px;
    max-height: 324px;
    bottom: 0px;
    left: 0px;
  }
}

html,
body {
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  .news-lists__inner {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.contents__wrapper {
  padding-top: 60px;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .contents__wrapper {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .contents__wrapper {
    padding-inline: 50px;
    max-width: 1200px;
    padding-top: 80px;
    gap: 4.7vw;
    margin: 0 auto;
  }
}
.contents__wrapper .news__contents {
  padding-inline: clamp(20px, 5vw, 45px);
  gap: 0;
}
@media screen and (min-width: 768px) {
  .contents__wrapper .news__contents {
    padding-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .contents__wrapper .news__contents {
    padding-inline: 0;
    max-width: 728px;
  }
}
.contents__wrapper .news__contents .category {
  font-size: 20px;
  font-weight: 700;
}
.contents__wrapper .news__contents .news__lists .news__category-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contents__wrapper .news__contents .news__lists .news__category-title {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 19px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .contents__wrapper .news__contents .news__lists .news__lists-wrapper {
    margin: 0;
    gap: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .contents__wrapper .news__contents .news__lists .news__lists-wrapper {
    max-width: 720px;
    gap: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .contents__wrapper .news__contents .news__lists .news__lists-wrapper {
    max-width: 720px;
    gap: 40px;
  }
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list {
    width: 340px;
    gap: 12px;
  }
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__image-s {
  position: relative;
  aspect-ratio: 158/99;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__image-s {
    margin-bottom: 0;
  }
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__image-s img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__image-s .ribbon-s {
  position: absolute;
  height: 22px;
  top: 10px;
  left: -8px;
  padding-inline: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  background-color: #382620;
  line-height: 22px;
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__image-s .ribbon-s svg {
  position: absolute;
  top: 0;
  right: -5px;
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__image-s .pass {
  position: absolute;
  width: 7px;
  height: 4px;
  top: 32px;
  left: -7px;
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__text-s {
  display: block;
  cursor: pointer;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__text-s {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__text-s span {
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-all;
  letter-spacing: 0.05rem;
}
@media screen and (min-width: 768px) {
  .contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__text-s span {
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: normal;
  }
}
.contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__date-s {
  display: block;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .contents__wrapper .news__contents .news__lists .news__lists-wrapper .news__list .news__date-s {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.contents__wrapper .news__contents .news__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
  padding-inline: 18px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .contents__wrapper .news__contents .news__nav {
    margin-bottom: 0;
  }
}
.contents__wrapper .news__contents .news__nav .page-numbers {
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #382620;
  aspect-ratio: 1/1;
  min-width: 40px;
  min-height: 40px;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.contents__wrapper .news__contents .news__nav .page-numbers.current {
  background-color: #382620;
  color: #ffffff;
}
.contents__wrapper .news__contents .news__nav .page-numbers:hover {
  background-color: #382620;
  color: #ffffff;
}
.contents__wrapper .articles__contents {
  padding-inline: 20px;
  max-width: 700px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .contents__wrapper .articles__contents {
    width: 320px;
    max-width: 320px;
    margin: 0;
    padding-inline: 0;
  }
}
.contents__wrapper .articles__contents .latest__contents {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 60px;
}
.contents__wrapper .articles__contents .latest__contents h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 41px;
  position: relative;
}
.contents__wrapper .articles__contents .latest__contents h3::after {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 32px;
  height: 1px;
  left: 0;
  background-color: #222222;
}
.contents__wrapper .articles__contents .latest__contents .latest__articles {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contents__wrapper .articles__contents .latest__contents .latest__articles .articles__card {
  display: flex;
  gap: 3.73vw;
}
@media screen and (min-width: 768px) {
  .contents__wrapper .articles__contents .latest__contents .latest__articles .articles__card {
    gap: 14px;
  }
}
.contents__wrapper .articles__contents .latest__contents .latest__articles .articles__card .articles__card__image {
  aspect-ratio: 100/100;
  width: clamp(100px, 100%, 150px);
  width: 26.666vw;
}
@media screen and (min-width: 768px) {
  .contents__wrapper .articles__contents .latest__contents .latest__articles .articles__card .articles__card__image {
    max-width: 100px;
  }
}
.contents__wrapper .articles__contents .latest__contents .latest__articles .articles__card .articles__card__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contents__wrapper .articles__contents .latest__contents .latest__articles .articles__card .articles__card__text-s {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.contents__wrapper .articles__contents .latest__contents .latest__articles .articles__card .articles__card__text-s p {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.contents__wrapper .articles__contents .latest__contents .latest__articles .articles__card .articles__card__text-s .news__card__date-s {
  font-size: 12px;
  display: inline-block;
}
.contents__wrapper .articles__contents .latest__contents .categories__lists {
  font-size: 16px;
}
.contents__wrapper .articles__contents .latest__contents .categories__lists li img {
  font-size: 6px;
  height: 12px;
  display: inline-block;
  padding-right: 6px;
}
.contents__wrapper .articles__contents .latest__contents .categories__lists li {
  padding-bottom: 9px;
  font-weight: 700;
}
.contents__wrapper .articles__contents .latest__contents .categories__lists li:last-child {
  padding-bottom: 0;
}

/*# sourceMappingURL=news.css.map */
