@use './common' as *;

// footer-------------------------------------------
footer {
    background-color: $main-color;
    height: 147px;
    position: relative;
    z-index: 50;
    // overflow:hidden;

    @include mq(md) {
        height: 141px;
    }

    @include mq(xl) {
        // max-width: 1440px;
        margin: 0 auto;
    }

    .footer-inner {
        padding-top: 40px;
        position: relative;

        @include mq(md) {
            max-width: 1440px;
            margin: 0 auto;
        }

        .sns-icons {
            display: flex;
            width: 120px;
            height: 24px;
            margin: 0 auto;
            justify-content: space-between;

            @include mq(md) {
                width: 120px;
                height: 24px;
            }

            .sns-icon {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $sub-text-color;

                @include mq(md) {
                    width: 24px;
                    height: 24px;
                }

                .fa-twitter::before,
                .fa-youtube::before,
                .fa-instagram::before {
                    color: $sub-text-color;
                    font-size: 18px;

                    @include mq(md) {
                        font-size: 24px;
                    }
                }
            }
        }

        .footer-copy {
            color: $sub-text-color;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            padding-top: 37px;
            padding-bottom: 14px;

            small {
                font-size: 12px;
            }
        }

        .to-top {
            display: none;
            position: fixed;
            width: 44px;
            height: 44px;
            bottom: 10px;
            right: 10px;
            z-index: 9999;
            cursor: pointer;

            @include mq(lg) {
                bottom: 20px;
                right: 20px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &:hover {
            opacity: .8;
        }
    }

    .footer-beans {
        width: 92px;
        // height: 30.4vw;
        position: absolute;
        bottom: 93px;
        left: 0;
        clip-path: inset(-100vmax -100vmax 0 -100vmax);

        img {
            width: 100%;
        }

        @include mq(md) {
            width: auto;
            // height: 100px;
            max-width: 150px;
            bottom: 0;
        }

        @include mq(lg) {
            width: 20vw;
            height: 22.5vw;
            max-width: 288px;
            max-height: 324px;
            bottom: 0px;
            left: 0px;
        }
    }
}
