@use 'common' as *;

.header.top {
    @include mq(xl) {
        height: auto;
    }
}

.header {
    position: relative;
    padding: 6px;
    width: 100%;
    height: 120px;

    @include mq(xl) {
        width: 100%;
        height: 320px;
        padding: 10px;
    }

    &.header-mask::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.40);
        z-index: 1;
        // pointer-events: none;
    }

    .header-border {
        border: 2px solid $sub-text-color;
        width: 100%;
        height: 100%;
        padding: 3px;
        position: relative;
        z-index: 2;

        @include mq(md) {
            padding: 4px;
        }

        .header-border__inner {
            border: 1px solid $sub-text-color;
            width: 100%;
            height: 100%;
        }
    }

    .hamburger {
        position: fixed;
        width: 60px;
        height: 60px;
        z-index: 99999;
        right: 10px;
        top: 10px;
        cursor: pointer;
        // display: none;
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        transition: opacity 0.4s ease, transform 0.4s ease;

        &.is-show {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }
    }


    &.concept {
        z-index: 20;
        background: url("../img/concept/concept-top.jpg") no-repeat center center / cover;
    }

    &.menu-top {
        z-index: 20;
        background: url("../img/menu/menu-top.jpg") no-repeat center center / cover;
    }

    &.news-top {
        z-index: 20;
        background: url("../img/news/news-top.jpg") no-repeat center center / cover;
    }

    &.shop-top {
        z-index: 20;
        background: url("../img/shop/shop-top.jpg") no-repeat center center / cover;
    }

    &.gift-top {
        z-index: 20;
        background: url("../img/gift/gift-top.jpg") no-repeat center center / cover;
    }

    &.contact-top {
        z-index: 20;
        background: url("../img/contact/contact-top.jpg") no-repeat center center / cover;
    }

    &.thanks-top {
        z-index: 20;
        background: url("../img/contact/contact-top.jpg") no-repeat center center / cover;
    }

    &.concept {
        width: 100%;
        margin: 0;
        max-width: 100%;
        z-index: 20;
        background: url("../img/concept/concept-top.jpg") no-repeat center center / cover;
    }
}

.nav__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;

    img {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.breadcrumbs {
    font-family: $base-font;
    font-weight: 700;
    padding-top: 4px;
    padding-left: 20px;

    @include mq(md) {
        padding-left: 90px;
        padding-top: 16px;
        gap: 15px;
    }

    .breadcrumbs_inner {
        display: flex;
        gap: 5px;

        @include mq(md) {
            gap: 15px;
        }
    }

    span {
        color: #382620;
        font-family: "Noto Serif JP";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;

        @include mq(md) {
            font-size: 14px;
        }
    }
}

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

#mask.hidden {
    display: none;
}
