@use './common' as *;
@use './header' as *;
@use './footer' as *;


body {
    overflow-x: hidden;
}

.concept-page {
    max-width: none;
}

.concept-main {
    // padding-top: 4px;
    overflow: hidden;

    // .breadcrumbs {
    //     padding-top: 16px;
    // }

    .concept__contents {
        padding-inline: 20px;
        padding-top: 54px;
        padding-bottom: 160px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include mq(md) {
            padding-inline: 30px;
        }

        @include mq(lg) {
            gap: 200px;
            padding-top: 80px;
        }

        @include mq(xl) {
            padding-inline: 90px;
        }

        .concept__content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            position: relative;
            z-index: 1;

            @include mq(md) {
                flex-direction: row;
            }

            @include mq(lg) {
                flex-direction: row;
                gap: 71px;
            }

            .contents__text {
                @include mq(md) {
                    width: 55%;
                }

                @include mq(lg) {
                    width: 389px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                @include mq(xl) {
                    justify-content: flex-start;
                }

                h2 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 40px;
                    /* 200% */

                    @include mq(lg) {
                        font-size: 28px;
                        line-height: 200%;
                    }
                }

                .contents__description {
                    padding-top: 32px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 28px;

                    /* 200% */
                    @include mq(md) {
                        padding-top: 34px;
                    }
                }
            }

            .contents__image {
                position: relative;

                @include mq(md) {
                    width: 45%;
                }

                @include mq(lg) {
                    flex: 1;
                }
            }

            .image-sub-bg {
                position: absolute;
            }

            &.concept__content--type1 {
                padding-bottom: 48px;

                @include mq(lg) {
                    padding-bottom: 0;
                }

                @include mq(xl) {
                    max-width: 1100px;
                    margin: 0 auto;
                }

                .contents__text {
                    @include mq(lg) {
                        padding-top: 10.265vw;
                    }
                }

                .contents__image {
                    display: flex;
                    flex-direction: column;
                    gap: 11px;

                    @include mq(lg) {
                        flex: 1;
                        gap: 20px;
                    }

                    .image-main {
                        img {
                            width: 100%;
                        }
                    }

                    .image-sub {
                        // display: flex;
                        display: grid;
                        // flex-direction: row;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 11px;
                        width: 100%;

                        @include mq(md) {
                            gap: 10px;
                        }

                        @include mq(lg) {
                            gap: 20px;
                        }

                        @include mq(xl) {
                            // height: 310px;
                        }

                        img {
                            // width: calc(50% - 1.5vw);
                            // width: 164px;
                            width: 100%;
                            aspect-ratio: 1 / 1;
                            object-fit: cover;
                            display: block;
                        }
                    }

                    .image-sub-bg {
                        background-color: $base-color;
                        position: absolute;
                        bottom: -48px;
                        right: -20px;
                        width: 89.33vw;
                        height: 26.66vw;
                        z-index: -1;

                        @include mq(md) {
                            width: 77vw;
                        }

                        @include mq(lg) {
                            width: 76.875vw;
                            height: 200px;
                            right: -90px;
                            top: 470px;
                        }

                        @include mq(xl) {
                            top: 49.218vw;
                        }
                        @include mq(xxl) {
                            top: 622px;
                            right: -180px;
                        }
                    }
                }
            }

            &.concept__content--type2 {
                padding-bottom: 122px;
                position: relative;

                @include mq(md) {
                    padding-bottom: 200px;
                    flex-direction: row-reverse;
                }

                @include mq(lg) {
                    padding-bottom: 0;
                }

                @include mq(xl) {
                    padding-bottom: 97.6px;
                    max-width: 1100px;
                    margin: 0 auto;
                }

                .contents__text {
                    @include mq(md) {
                        width: 337px;
                    }

                    @include mq(lg) {
                        padding-top: 7.4vw;
                        width: 340px;
                        flex-shrink: 0;
                    }

                    @include mq(xl) {
                        width: 389px;

                    }
                }

                .contents__image {
                    @include mq(lg) {
                        flex: 1;
                        max-width: 100%;
                    }

                    .image-main {
                        width: 75.46vw;
                        margin-left: auto;
                        display: block;
                        position: relative;

                        img {
                            width: 100%;
                        }

                        @include mq(md) {
                            margin-left: 7.812vw;
                            width: auto;
                            display: block;
                        }

                        @include mq(xl) {
                            width: 540px;

                        }

                        .image-sub {
                            position: absolute;
                            top: 38.13vw;
                            right: 40.533vw;
                            width: 48.8vw;

                            @include mq(md) {
                                top: 15.13vw;
                                right: 17.533vw;
                                width: 21.8vw;
                            }

                            @include mq(lg) {
                                width: 29.343vw;
                                height: auto;
                                top: 237px;
                                bottom: -132px;
                                left: -6.812vw;
                            }

                            @include mq(xl) {
                                left: -100px;
                                width: 350px;
                                height: 263px;
                                top: 274px;

                            }
                        }
                    }

                    .image-sub-bg {
                        background-color: $base-color;
                        position: absolute;
                        top: 106px;
                        left: -20px;
                        width: 75.733vw;
                        height: 60.533vw;
                        z-index: -1;

                        @include mq(md) {
                            width: 45.7vw;
                            left: -30px;
                            height: 280px;
                            top: 62px;
                        }

                        @include mq(lg) {
                            top: 160px;
                            left: -30px;
                            width: 464px;
                            height: 34.14vw;
                        }

                        @include mq(xl) {
                            display: none;
                            width: 45.3125vw;
                            left: -7vw;
                        }
                    }
                }

                &::after {
                    display: none;

                    @include mq(xl) {
                        display: block;
                        content: "";
                        position: absolute;
                        width: 45.3125vw;
                        // left: -90px;
                        left: -13vw;
                        background-color: $base-color;
                        bottom: -60px;
                        height: 437px;
                        z-index: -1;
                    }
                }

            }

            &.concept__content--type3 {
                // padding-bottom: 36px;
                @include mq(xl) {
                    max-width: 1100px;
                    margin: 0 auto;

                }
                .contents__text {
                    @include mq(md) {
                        width: 340px;
                    }

                    @include mq(xl) {
                        width: 389px;
                        justify-content: center;

                    }
                }

                .contents__image {
                    position: relative;

                    @include mq(xl) {
                        width: 640px;
                    }

                    .image-main {
                        margin-right: auto;
                        display: block;

                        img {
                            width: 100%;
                        }

                        @include mq(xl) {
                            margin-right: 0;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }

                    .image-sub-bg {
                        background-color: $base-color;
                        position: absolute;
                        bottom: -5.6vw;
                        right: -20px;
                        width: 49.066vw;
                        height: 50vw;
                        z-index: -1;

                        @include mq(md) {
                            width: 240px;
                            height: 330px;
                            right: -30px;
                        }

                        @include mq(lg) {
                            width: 31.25vw;
                            height: 520px;
                            bottom: -130px;
                            right: -7.031vw;
                        }

                        @include mq(xl) {
                            top: -40px;
                        }
                    }
                }

            }
        }
    }
}
