@use './common' as *;
@use './header' as *;
@use './footer' as *;


.contact {
    margin-top: 59px;
    color: $main-color;

    @include mq(md) {
        margin-top: 80px;
    }

    .contact__inner {
        padding-inline: 20px;
        max-width: 640px;
        margin: 0 auto;

        @include mq(lg) {
            max-width: 728px;
        }

        .contact__title {
            h2 {
                text-align: center;
                color: $main-color;
                font-size: 20px;
                font-weight: 700;
                line-height: 150%;

                @include mq(lg) {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 40px;
                }
            }

            p {
                padding-top: 21px;
                font-size: 14px;
                font-weight: 500;
                line-height: 200%;

                @include mq(lg) {
                    padding-top: 28px;
                    font-size: 16px;
                }
            }
        }


        .contact-form {
            margin-top: 60px;
            margin-bottom: 166px;

            @include mq(lg) {
                margin-top: 78px;
            }

            .contact__fields {
                display: flex;
                flex-direction: column;
                gap: 2.85rem;

                .contact__field {
                    &:nth-of-type(n + 2):nth-of-type(-n + 4) {
                        .form-field {
                            @include mq(md) {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }


                    .form-field {
                        @include mq(md) {
                            display: flex;
                            gap: 28px;
                            align-items: flex-start;
                        }
                        @include mq(lg) {
                            display: flex;
                            gap: 28px;
                            align-items: flex-start;
                        }


                        [type="text"],
                        [type="email"],
                        [type="tel"] {
                            width: 100%;
                            height: 48px;
                            border-radius: 6px;
                            border: 1px solid $main-color;
                            background: $sub-text-color;
                            padding: 12px 16px;
                        }

                        .form-field__head {
                            display: flex;
                            align-items: center;
                            gap: 0.5em;

                            @include mq(md) {
                                min-width: 170px;

                            }

                            &.label-radio {
                                padding-bottom: 20px;
                            }

                            .form-field__label {
                                color: $main-color;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 150%;
                            }

                            .form-field__tag {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 2px;
                                background: $accent-color;
                                color: #fff;
                                padding: 1px 6px 2px 6px;
                                font-size: 11px;
                                font-weight: 700;
                            }
                        }

                        .form-field__item {
                            @include mq(md) {
                                width: 100%;
                            }

                            .form-field__radios {
                                display: flex;
                                flex-direction: column;
                                gap: 16px;

                                [type="radio"] {
                                    width: 1px;
                                    height: 1px;
                                    position: absolute;
                                    clip: rect(0, 0, 0, 0);
                                    overflow: hidden;

                                    &:checked {
                                        +.form-field__radio-text {
                                            &:after {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }

                                .form-field__radio-text {
                                    font-size: 16px;
                                    font-weight: 500;
                                    position: relative;
                                    padding-left: 34px;

                                    &::before,
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        border-radius: 50%;
                                    }

                                    &::before {
                                        width: 24px;
                                        height: 24px;
                                        border: 1px solid $main-color;
                                        left: 0;
                                    }

                                    &::after {
                                        width: 12px;
                                        height: 12px;
                                        background-color: $accent-color;
                                        left: 6px;
                                        opacity: 0;
                                    }
                                }
                            }

                            .form-text,
                            .form-textarea {
                                &::placeholder {
                                    color: #ccc;
                                    // padding-left: 16px;
                                }
                            }

                            .form-textarea {
                                padding-top: 12px;
                                padding-left: 16px;
                                width: 100%;
                                height: 200px;
                                border-radius: 6px;
                                border: 1px solid $main-color !important;
                                background: $sub-text-color;

                                @include mq(md) {
                                    height: 240px;
                                }
                            }
                        }
                    }
                }
            }

            .contact__policy {
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                padding-top: 36px;

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 150%;
                }

                @include mq(lg) {
                    padding-top: 37px;
                }
            }

            .button-wrap {
                margin-top: 40px;
                margin-bottom: 60px;
                margin-inline: auto;

                @include mq(lg) {
                    margin-top: 40px;
                }

                .button1 {
                    display: block;
                    margin-top: 0;
                    color: $sub-text-color;
                    text-align: center;
                    user-select: none;
                    font-size: 16px;
                    font-weight: 700;
                    margin-left: 5.2vw;
                    position: relative;

                    @include mq(md) {
                        margin-inline: auto;
                    }

                    @include mq(lg) {
                        width: 290px;
                        // margin-left: 15.3vw;
                    }

                    &::before {
                        content: "";
                        width: 16px;
                        height: 24px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        // right: 12px;
                        right: 24px;
                        background-image: url(../img/arrow.png);
                        color: $sub-text-color;
                        display: inline-block;
                        background-size: contain;
                        background-repeat: no-repeat;
                        z-index: 0;
                    }

                    &::after {
                        left: 7px;

                        @include mq(lg) {
                            width: 290px;
                        }
                    }
                }
            }
        }
    }
}
