@use './common' as *;
@use './header' as *;
@use './footer' as *;

html,
body {
    overflow-x: hidden;
}

// * {
//     outline: 1px solid rgb(252, 154, 172);
// }

img {
    vertical-align: bottom;
    width: 100%;
}

.single__news {
    padding-top: 60px;
    padding-bottom: 160px;
    padding-inline: 20px;

    @include mq(md) {
        width: clamp(688px, 56.87%, 1280px);
        // max-width: 728px;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 158px;
    }

    .single__news-thumbnail {

        img {
            width: 100%;
            height: auto;
        }
    }

    .article__news-meta {
        padding-top: 20px;
        font-size: 14px;
        font-weight: 700;

        .separator {
            margin-inline: 20px;
            border-left: 1px solid $main-text-color;
        }
    }

    .single__news-content {

        .single__news-title {
            padding-top: 20px;
            font-size: 20px;
            font-weight: 700;
            line-height: 150%;

            @include mq(md) {
                font-size: 28px;
            }
        }

        >h2.single__news-title {
            padding-top: 0;
            margin-top: 40px;
            font-size: 18px;
            line-height: 27px;
            padding-left: 10px;
            border-left: 6px solid $main-color;

            @include mq(md) {
                font-size: 24px;
                line-height: 36px;
            }
        }

        >h3.single__news-title {
            padding-top: 0;
            margin-top: 40px;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 12px;
            border-bottom: 1px solid $main-color;

            @include mq(md) {
                font-size: 20px;
                line-height: 30px;
            }
        }

        >h4.single__news-title {
            margin-top: 40px;
            padding-top: 0;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 14px;

            @include mq(md) {
                font-size: 16px;
                margin-bottom: 16px;
            }
        }

        .article__news-text {
            padding-top: 14px;
            font-size: 14px;
            font-weight: 500;
            line-height: 28px;

            @include mq(md) {
                padding-top: 16px;
                font-size: 16px;
                line-height: 32px;
            }

            &.choco {
                background-color: #f8f8f8;
                margin-top: 14px;
                padding: 20px;

                @include mq(md) {
                    margin-top: 16px;
                    padding: 40px;
                }

                .article__news-text {
                    padding-top: 0;
                }
            }

            .pc-br {
                display: none;

                @media (min-width: 768px) {
                    display: block;
                    content: ""; // 空の要素として機能させる
                    height: 0; // 余計な高さが出ないように調整
                }
            }
        }

        .quote {
            text-align: right;
            margin-top: 14px;

            @include mq(md) {
                margin-top: 16px;
                font-size: 14px;
                line-height: 28px;
            }
        }

        .article__news-img {
            padding-top: 14px;

            @include mq(md) {
                padding-top: 16px;
            }

            img {
                width: 100%;
            }
        }

        .article__news-lists {
            margin-left: 20px;
            line-height: 28px;

            @include mq(md) {
                font-size: 16px;
            }

            li {
                list-style: disc;

                @include mq(md) {
                    line-height: 200%;
                }
            }

            &.decimal {
                li {
                    list-style: decimal;
                }

                +p {
                    margin-top: 14px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 28px;

                    @include mq(md) {
                        font-size: 16px;
                        margin-top: 16px;
                        font-weight: 700;
                        line-height: 200%;
                    }
                }
            }
        }


        .quote-box {
            margin-top: 32px;
            background-color: #f8f8f8;
            padding: 20px 24px 25px;

            @include mq(md) {
                padding: 35px 40px;
            }

            blockquote {
                line-height: 28px;
                padding-bottom: 15px;

                @include mq(md) {
                    font-size: 16px;
                    line-height: 32px;
                    padding-bottom: 16px;
                }
            }

            .quote-source {
                text-align: right;

                @include mq(md) {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }
    }

    .post-nav__box {
        padding-top: 37px;

        @include mq(md) {
            padding-top: 44px;
        }

        .post-nav {
            display: flex;
            align-items: center;

            li {
                font-size: 14px;
                font-weight: 700;
                line-height: 28px;
                flex: 1;
                @include mq(md) {
                    padding-block: 10px;
                }

                a {
                    font-weight: 700;
                    line-height: 24px;

                    @include mq(md) {
                        font-size: 16px;
                    }

                    img {
                        vertical-align: middle;
                        width: 6px;
                    }
                }


                &:nth-of-type(1) {
                    img {
                        margin-right: 9.7px;
                    }
                }

                &:nth-of-type(2) {
                    margin-inline: auto;
                    padding-inline: 7.5px;
                    padding-block: 8.5px;
                    border: 1px solid $main-color;
                    text-align: center;

                    @include mq(md) {
                        border: none;
                        padding-inline: 0;
                        margin-inline: auto;
                    }

                    a {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 24px;

                        @include mq(md) {
                            border: 1px solid $main-color;
                            font-size: 16px;
                            padding-inline: 35px;
                            padding-block: 11px;
                            line-height: normal;
                        }
                    }
                }

                &:nth-of-type(3) {
                    text-align: right;

                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .related-articles__box {
        margin-top: 100px;

        @include mq(md) {
            margin-top: 120px;
            width: 100%;
        }

        .related-articles {
            font-size: 20px;
            font-weight: 700;
            text-align: center;

            @include mq(md) {
                font-size: 28px;
                line-height: 42px;
            }
        }

        .news__lists {
            padding-top: 40px;

            @include mq(md) {
                padding-top: 60px;
                width: 100%;
            }

            .news__lists-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px 19px;
                // padding-bottom: 40px;
                margin: 0 auto;
                width: 100%;

                @include mq(lg) {
                    margin: 0 auto;
                    gap: 40px;
                    width: clamp(688px, 60%, 1280px);
                    // padding-bottom: 60px;
                }

                @include mq(xl) {
                    gap: 40px;
                    width: 100%;
                }

                @include mq(md) {
                    width: 100%;
                    grid-template-columns: repeat(3, 1fr);
                }

                .news__list {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    @include mq(md) {
                        gap: 12px;
                    }

                    .news__image-s {
                        position: relative;
                        aspect-ratio: 202 / 126.5;

                        img {
                            display: block;
                            height: 100%;
                            width: 100%;
                        }

                        .ribbon-s {
                            position: absolute;
                            padding-inline: 10px;
                            height: 22px;
                            top: 10px;
                            left: -8px;
                            font-size: 12px;
                            background-color: $main-color;
                            color: $sub-text-color;
                            display: flex;
                            align-items: center;

                            svg {
                                position: absolute;
                                right: -5px;
                                top: 0;
                            }
                        }

                        .pass {
                            position: absolute;
                            width: 7px;
                            height: 4px;
                            top: 32px;
                            left: -7px;
                        }
                    }

                    .news__text-s {
                        cursor: pointer;
                        display: flex;
                        gap: 12px;
                        flex-direction: column;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 18px;

                        @include mq(md) {
                            font-size: 16px;
                            line-height: 24px;
                        }

                        .news__date-s {
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 18px;
                            display: block;

                            @include mq(md) {
                                font-size: 14px;
                                line-height: 21px;
                            }
                        }
                    }
                }
            }
        }
    }
}
