@use './common' as *;
@use './header' as *;
@use './footer' as *;

html,
body {
    overflow-x: hidden;
}

// * {
//     outline: 1px solid rgb(252, 154, 172);
// }

.news-lists__inner {
    @include mq(lg) {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.contents__wrapper {
    padding-top: 60px;
    padding-bottom: 100px;

    @include mq(lg) {
        padding-inline: 50px;
        display: flex;
        padding-top: 80px;
        gap: 4.7vw;

    }

    .news__contents {
        padding-inline: clamp(20px, 5vw, 45px);
        gap: 0;

        @include mq(lg) {
            padding-inline: 0;
            max-width: 728px;
        }

        .category {
            font-size: 20px;
            font-weight: 700;
        }

        .news__lists {
            .news__category-title {
                font-size: 20px;
                font-weight: 700;
                line-height: 150%;
                margin-bottom: 24px;

                @include mq(md) {
                    font-size: 24px;
                    margin-bottom: 40px;
                };
            }

            .news__lists-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px 19px;
                padding-bottom: 60px;
                margin: 0 auto;

                @include mq(lg) {
                    margin: 0;
                    gap: 40px;
                }

                @include mq(lg) {
                    max-width: 720px;
                    gap: 40px;
                    padding-bottom: 60px;
                }

                @include mq(xl) {
                    max-width: 720px;
                    gap: 40px;
                }

                .news__list {
                    position: relative;

                    @include mq(lg) {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }

                    @include mq(xl) {
                        width: 340px;
                        gap: 12px;
                    }

                    .news__image-s {
                        position: relative;
                        aspect-ratio: 158 / 99;
                        margin-bottom: 8px;
                        // width: clamp(158px, 42.133vw, 340px);

                        @include mq(md) {
                            margin-bottom: 0;
                        }

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .ribbon-s {
                            position: absolute;
                            height: 22px;
                            top: 10px;
                            left: -8px;
                            padding-inline: 10px;
                            font-size: 12px;
                            font-weight: 700;
                            color: $sub-text-color;
                            background-color: $main-color;
                            line-height: 22px;

                            svg {
                                position: absolute;
                                top: 0;
                                right: -5px;
                            }
                        }

                        .pass {
                            position: absolute;
                            width: 7px;
                            height: 4px;
                            top: 32px;
                            left: -7px;
                        }
                    }

                    .news__text-s {
                        display: block;
                        cursor: pointer;
                        padding-bottom: 12px;
                        // padding-top: 8px;
                        // font-size: 12px;
                        // font-weight: 700;
                        // line-height: 18px;

                        @include mq(md) {
                            padding-top: 0;
                            padding-bottom: 0;
                            font-size: 16px;
                            line-height: 24px;
                        }

                        span {
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 150%;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            word-break: break-all;
                            letter-spacing: 0.05rem;

                            @include mq(md) {
                                margin-bottom: 0;
                                font-size: 16px;
                                letter-spacing: normal;
                            }
                        }
                    }

                    .news__date-s {
                        display: block;
                        font-size: 12px;
                        // padding-top: 7px;
                        font-weight: 500;
                        // padding-bottom: 24px;

                        @include mq(md) {
                            font-size: 14px;
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }

        .news__nav {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            justify-content: center;
            max-width: 300px;
            margin: 0 auto;
            padding-inline: 18px;
            padding-bottom: 60px;

            @include mq(md) {
                margin-bottom: 0;
            }

            .page-numbers {
                background-color: $sub-text-color;
                border-radius: 50%;
                border: 1px solid $main-color;
                aspect-ratio: 1 / 1;
                min-width: 40px;
                min-height: 40px;
                display: inline-flex;
                font-size: 16px;
                font-weight: 500;
                align-items: center;
                justify-content: center;
                white-space: nowrap;

                // &:nth-child(3) {
                //     background-color: $main-color;
                //     color: $sub-text-color;
                // }
                &.current {
                    background-color: $main-color;
                    color: $sub-text-color;
                }
            }
        }
    }

    .articles__contents {
        padding-inline: 20px;
        max-width: 700px;
        margin: 0 auto;

        @include mq(lg) {
            width: 320px;
            max-width: 320px;
            margin: 0;
            padding-inline: 0;
        }

        .latest__contents {
            background-color: #f8f8f8;
            padding: 20px;
            margin-bottom: 60px;

            // @include mq(lg) {
            //     width: 300px;
            // }

            h3 {
                font-size: 20px;
                font-weight: 700;
                padding-bottom: 41px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 20px;
                    width: 32px;
                    height: 1px;
                    left: 0;
                    background-color: $main-text-color;
                }
            }

            .latest__articles {
                display: flex;
                gap: 20px;
                flex-direction: column;

                .articles__card {
                    display: flex;
                    gap: 3.73vw;

                    @include mq(md) {
                        gap: 14px;
                    }

                    .articles__card__image {
                        aspect-ratio: 100 / 100;
                        width: clamp(100px, 100%, 150px);
                        width: 26.666vw;

                        @include mq(md) {
                            max-width: 100px;
                        }

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .articles__card__text-s {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 10px;

                        p {
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 150%;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                        }

                        .news__card__date-s {
                            font-size: 12px;

                            display: inline-block;
                        }
                    }
                }
            }

            .categories__lists {
                font-size: 16px;

                li img {
                    font-size: 6px;
                    height: 12px;
                    display: inline-block;
                    padding-right: 6px;
                }

                li {
                    padding-bottom: 9px;
                    font-weight: 700;

                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }

        }
    }
}
