@use './common' as *;
@use './header' as *;
@use './footer' as *;

html,
body {
    overflow-x: hidden;
}

// * {
//     outline: 1px solid rgb(252, 154, 172);
// }

img {
    vertical-align: bottom;
    width: 100%;
}

.single__news {
    padding-top: 80px;
    padding-bottom: 100px;
    padding-inline: 20px;

    @include mq(md) {
        max-width: 728px;
        margin: 0 auto;
    }

    .single__news-thumbnail {

        img {
            width: 100%;
            height: auto;
        }
    }

    .article__news-meta {
        padding-top: 20px;
        font-size: 14px;
        font-weight: 700;

        .separator {
            margin-inline: 20px;
            border-left: 1px solid $main-text-color;
        }
    }

    .single__news-content {

        .single__news-title {
            padding-top: 20px;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;

            @include mq(md) {
                font-size: 28px;
            }
        }

        >h2.single__news-title {
            padding-top: 0;
            margin-top: 40px;
            font-size: 18px;
            line-height: 27px;
            padding-left: 16px;
            border-left: 6px solid $main-color;

            @include mq(md) {
                font-size: 24px;
                line-height: 36px;
            }
        }

        >h3.single__news-title {
            padding-top: 0;
            margin-top: 40px;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 12px;
            border-bottom: 1px solid $main-color;

            @include mq(md) {
                font-size: 20px;
                line-height: 30px;
            }
        }

        >h4.single__news-title {
            margin-top: 40px;
            padding-top: 0;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 14px;

            @include mq(md) {
                font-size: 20px;
                margin-bottom: 16px;
            }
        }

        .article__news-text {
            padding-top: 14px;
            font-size: 14px;
            font-weight: 500;
            line-height: 28px;

            @include mq(md) {
                padding-top: 16px;
                font-size: 16px;
                line-height: 32px;
            }

            &.choco {
                background-color: #f8f8f8;
                margin-top: 14px;
                padding: 20px;

                @include mq(md) {
                    margin-top: 16px;
                    padding: 40px;
                }

                .article__news-text {
                    padding-top: 0;
                }
            }
        }

        .quote {
            text-align: right;
            margin-top: 14px;

            @include mq(md) {
                margin-top: 16px;
                font-size: 14px;
                line-height: 28px;
            }
        }

        .article__news-img {
            padding-top: 14px;

            @include mq(md) {
                padding-top: 16px;
            }

            img {
                width: 100%;
            }
        }

        .article__news-lists {
            margin-left: 20px;
            line-height: 28px;

            @include mq(md) {
                font-size: 16px;
            }

            li {
                list-style: disc;
            }

            &.decimal {
                li {
                    list-style: decimal;
                }

                +p {
                    margin-top: 14px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 28px;
                }
            }

        }


        .quote-box {
            margin-top: 32px;
            background-color: #f8f8f8;
            padding: 20px 24px 25px;

            @include mq(md) {
                padding: 35px 40px;
            }

            blockquote {
                line-height: 28px;
                padding-bottom: 15px;

                @include mq(md) {
                    font-size: 16px;
                    line-height: 32px;
                    padding-bottom: 16px;
                }
            }

            .quote-source {
                text-align: right;

                @include mq(md) {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }

    }

    .single__news-content :nth-child(7) {}




    .post-nav__box {
        padding-top: 32px;

        .post-nav {
            display: flex;
            align-items: center;

            li {
                font-size: 14px;
                font-weight: 700;
                line-height: 28px;

                a {
                    font-weight: 700;
                    line-height: 24px;

                    @include mq(md) {
                        font-size: 16px;
                    }

                    img {
                        vertical-align: middle;
                        width: 6px;
                    }
                }


                &:nth-of-type(1) {
                    img {
                        margin-right: 9.7px;
                    }
                }

                &:nth-of-type(2) {
                    margin-inline: auto;
                    border: 1px solid $main-color;
                    padding: 8px 26px;

                    @include mq(md) {
                        margin-inline: auto;
                        padding: 12px 36px;
                    }

                    a {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 24px;

                        @include mq(md) {
                            font-size: 16px;
                            line-height: normal;
                        }
                    }
                }

                &:nth-of-type(3) {
                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .related-articles__box {
        margin-top: 100px;

        @include mq(md) {
            margin-top: 100px;
        }

        .related-articles {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }

        .news__lists {
            padding-top: 40px;

            @include mq(md) {
                max-width: 688px;
            }

            .news__lists-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px 19px;
                padding-bottom: 40px;
                margin: 0 auto;

                @include mq(lg) {
                    margin: 0;
                    gap: 40px;
                }

                @include mq(lg) {
                    max-width: 720px;
                    gap: 40px;
                    padding-bottom: 60px;
                }

                @include mq(xl) {
                    max-width: 720px;
                    gap: 40px;
                }

                @include mq(md) {
                    max-width: 688px;
                    width: 100%;
                    grid-template-columns: repeat(3, 1fr);

                }

                .news__list {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    @include mq(md) {
                        gap: 10px;
                    }

                    .news__image-s {
                        position: relative;

                        img {
                            display: block;
                            width: 100%;
                        }

                        .ribbon-s {
                            position: absolute;
                            width: 70px;
                            height: 22px;
                            top: 10px;
                            left: -8px;

                            .ribbon-bg {
                                width: 100%;
                                height: 100%;
                                display: inline-block;
                                position: relative;
                            }

                            &::after {
                                content: "カテゴリ";
                                position: absolute;
                                bottom: 3px;
                                left: 10px;
                                color: #fff;
                                font-family: "Noto Serif JP";
                                font-size: 12px;
                                font-weight: 700;
                                z-index: 14;
                            }
                        }

                        .pass {
                            position: absolute;
                            width: 7px;
                            height: 4px;
                            top: 32px;
                            left: -7px;
                        }
                    }

                    .news__text-s {
                        cursor: pointer;
                        display: block;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 18px;

                        &.pc-none {
                            display: none;
                        }

                        @include mq(md) {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }

                    .news__date-s {
                        font-size: 12px;
                        font-weight: 500;
                        padding-bottom: 20px;
                        display: block;

                        @include mq(md) {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
