@use './common' as *;
@use './header' as *;
@use './footer' as *;

html,
body {
    overflow-x: hidden;
}

.gift__main {
    .gift__container {
        padding-top: 60px;
        padding-inline: 20px;
        display: grid;
        gap: 20px 19px;
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin: 0 auto;

        @include mq(md) {
            padding-top: 80px;
            padding-inline: 0;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, auto);
            max-width: 85.93vw;
            margin: 0 auto;
            gap: 30px;
        }

        @include mq(xl) {
            max-width: 1100px;
            gap: 40px;
        }


        &.product_single {
            display: block;
            margin: 0 auto;
            max-width: 70%;
            margin-bottom: 50px;
        }

        .gift__item1 {
            width: 100%;
            min-height: 455px;
            grid-column: 1 / 3;
            height: auto;

            @include mq(md) {
                width: 100%;
                grid-row: 1 / 3;
            }

            .gift__item-img {
                aspect-ratio: 1 / 1;

                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: bottom;
                }
            }

            .gift__item-meta {
                text-align: center;

                .button2 {
                    margin-top: 10px;
                    width: 132px;
                    padding: 0;
                    border: 1px solid $main-color;


                    @include mq(md) {
                        width: 174px;
                        height: 37px;
                    }

                    .btn2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: background-color 0.5s;

                        @include mq(md) {
                            font-size: 14px;
                            line-height: 150%;
                        }

                        &:hover {
                            background: $sub-text-color;
                            color: $main-color;
                        }
                    }
                }

                .gift__item-text {
                    font-size: 20px;
                    padding-top: 8px;
                    font-weight: 700;
                    line-height: normal;
                    text-align: left;

                    @include mq(md) {
                        padding-top: 12px;
                        font-size: 1.56vw;
                    }
                }

                .gift__item-price {
                    font-size: 28px;
                    font-family: Damion;
                    font-weight: 400;
                    line-height: 150%;
                    padding-top: 7px;

                    @include mq(md) {
                        font-size: 2.5vw;
                    }
                }
            }
        }

        .gift__item-s {
            text-align: center;

            @include mq(md) {
                min-width: 135px;
            }

            .gift__item-img {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                    vertical-align: bottom;
                }

                @include mq(md) {
                    aspect-ratio: 245 / 245;
                }
            }

            .gift__item-meta {

                .gift__item-text {
                    font-size: 14px;
                    font-weight: 700;
                    padding-top: 8px;
                    text-align: left;

                    @include mq(md) {
                        font-size: 12px;
                    }

                    @include mq(xl) {
                        font-size: 14px;
                    }
                }

                .gift__item-price {
                    font-size: 24px;
                    font-weight: 400;
                    font-family: Damion;
                    text-align: center;
                    line-height: 150%;
                    padding-top: 7px;
                }

                .button2 {
                    margin-top: 10px;
                    width: 132px;
                    padding: 0;
                    border: 1px solid $main-color;

                    @include mq(md) {
                        width: 100%;
                        height: 37px;
                    }

                    @include mq(xl) {
                        width: 174px;
                        // height: 37px;
                    }

                    .btn2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: background-color 0.5s;

                        @include mq(md) {
                            font-size: 12px;
                        }

                        @include mq(xl) {
                            font-size: 14px;
                        }

                        &:hover {
                            background: $sub-text-color;
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }

    .gift__info {
        margin-top: 60px;
        margin-bottom: 160px;
        padding-inline: 20px;

        @include mq(md) {
            max-width: 1100px;
            padding-inline: 30;
            margin-top: 100px;
            margin-inline: auto;
        }

        @include mq(xl) {
            padding-inline: 0;

        }

        .gift__info-wrap {
            border: 4px solid $main-color;
            background-color: $sub-text-color;
            padding: 6px;
            box-sizing: border-box;

            @include mq(md) {
                width: 100%;
                aspect-ratio: 1100 / 458;
            }

            .gift__info-inner {
                box-sizing: border-box;
                border: 1px solid $main-color;
                padding: 27px 30px 30px;
                height: 100%;

                @include mq(md) {
                    display: flex;
                    align-items: center;
                    padding: calc(69 / 1100 * 100%) calc(50 / 1100 * 100%);
                    gap: calc(60 / 1100 * 100%);
                    // aspect-ratio: 1100 / 458;
                    // height: auto;
                }

                @include mq(lg) {
                    // gap: 4.687vw;
                }

                .gift__info-text {
                    @include mq(md) {
                        flex: 1;
                    }

                    .gift__info-message {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 150%;

                        @include mq(lg) {
                            font-size: 24px;
                            line-height: 150%;
                        }
                    }

                    .repeat-grid {
                        width: 100%;
                        height: 3px;
                        margin: 22px 0;

                        @include mq(md) {
                            margin: 18px 0 37px;
                        }

                        img.pc-none {
                            display: block;
                            width: 100%;

                            @include mq(md) {
                                display: none;
                            }
                        }

                        img.sp-none {
                            display: none;

                            @include mq(md) {
                                display: block;
                            }
                        }
                    }

                    .gift__info-description {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 24px;

                        @include mq(lg) {
                            font-size: 16px;
                            line-height: 32px;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 200%;

                            @include mq(md) {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .gift__info-img {
                    padding-top: 34px;

                    @include mq(md) {
                        padding-top: 0;
                        flex: 1;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }
        }
    }
}
