@use './common' as *;
@use './header' as *;
@use './footer' as *;


.contact-completed {
    margin-top: 53px;
    color: $main-color;

    @include mq(md) {
        margin-top: 80px;
    }

    .contact-completed__inner {
        padding-inline: 20px;
        max-width: 640px;
        padding-bottom: 60px;
        margin-inline: auto;
        margin-bottom: 100px;

        @include mq(lg) {
            max-width: 728px;
        }

        .contact-completed__title {
            h2 {
                text-align: center;
                color: $main-color;
                font-size: 20px;
                font-weight: 700;
                line-height: 40px;

                @include mq(lg) {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 40px;
                }
            }

            p {
                padding-top: 17px;
                font-size: 14px;
                font-weight: 500;
                line-height: 200%;

                @include mq(lg) {
                    padding-top: 26px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 200%;
                }
            }
        }
    }
}
